@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

/* Bagian body */
header {
  display: inline;
  box-shadow: #00c8eb;
  border: #fff;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  background: url("/image/cool-background.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.featured-image {
  width: 25%;
  border-radius: 5px;
}

p {
  text-indent: 2em;
  text-align: center;
  text-decoration: solid;
}

.profile img {
  box-shadow: 0 4px 8px 0 rgba(68, 136, 253, 0.2);
  width: 150px;
  position: relative;
  border-radius: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(1, 0, 7, 0.2);
  border-radius: 5px;
  background-color: rgb(245, 210, 144);
  padding: 20px;
  margin-top: 20px;
}

.jumbotron {
  border-radius: 5px;
  font-size: 20px;
  padding: 60px;
  background-color: #f9e67d;
  text-align: center;
  color: rgb(31, 25, 25);
}

.main {
  padding: 20px;
}

.profile {
  font-size: 12px;
}

.container {
  display: flex;
  width: 800px;
  background-color: bisque;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.box {
  flex-grow: 1;
  background-color: #00a2c6;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

h2 {
  text-transform: capitalize;
  color: #00a2c6;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

nav li {
  padding: 20px;
  display: inline-flex;
  font-size: 16px;
  list-style-type: none;
}

nav {
  border-radius: 5px;
  top: 0;
  position: sticky;
  background-color: #efd80c;
  padding: 5px;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: left;
  font-style: italic;
}

#content {
  float: left;
  width: 65%;
}

main {
  padding: 20px;
  overflow: auto;
}

aside {
  float: right;
  width: 35%;
  padding-left: 20px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  word-spacing: 1.5px;
  transition: 0.2s linear;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

/* Bagian Footer */
footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
}
